@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}
pre code {
  white-space: pre-wrap; /* 确保代码块换行 */
}
pre.line-numbers {
  padding-left: 2.8em; /* 为行号留出空间 */
}
